apiVersion: v1
kind: ConfigMap
metadata:
  name: streaming-ops-ccloud-environment
  labels:
    destination: ccloud
data:
  environments: |
    [
      {
        "name": "streaming-ops-dev",
        "schema-registry": {
          "cloud": "aws",
          "geo": "us",
          "api-key": [
            { "service-account": "streaming-ops-sr-client" }
          ]
        },
        "kafka": [
          {
            "name": "testing-out-k8s-operators",
            "cloud": "aws",
            "region": "us-west-2",
            "topic": [
              { "name": "test", "partitions": 3, "config": "retention.ms=86400000" },
              { "name": "test-compacted", "partitions": 1, "config": "cleanup.policy=compact" }
            ],
            "acl": [
              {
                "service-account": "microservices-events-api",
                "controls": [
                  { "operation" : "read,write,create,describe,describe-configs,delete", "permission": "allow",
                    "resource": "topic", "name": "*" },
                  { "operation" : "read,write,create", "permission": "allow",
                    "resource": "consumer-group", "name": "EventsApi" },
                  { "operation" : "write,describe", "permission": "allow",
                    "resource": "transactional-id", "name": "*" },
                  { "operation" : "idempotent-write", "permission": "allow",
                    "resource": "cluster-scope" }
                ]
              }
            ],
            "api-key": [
              { "service-account": "microservices-events-api" }
            ],
            "schema": [
              { "subject": "test", "type": "JSON", "schema": {
                                                                   "type" : "record",
                                                                   "namespace" : "Example",
                                                                   "name" : "Employee",
                                                                   "fields" : [
                                                                           { "name" : "Name" , "type" : "string" },
                                                                           { "name" : "Age" , "type" : "int" }
                                                                   ]
                                                             }
              }
            ]
          }
        ]
      }
    ]

